<a href="https://colab.research.google.com/github/gauravpks/ml-repo/blob/master/Part%200%20-%20Welcome%20to%20Machine%20Learning%20A-Z/Numpy_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic on NumPy--------------- Gaurav Prakash

## Python Collection & NumPy Arrays

In Data Science NumPy Arrays hold the key to data managagement... and are similar to Python list

Python Collections (Arrays)
There are four collection data types in the Python programming language:


*   List is a collection which is ordered and changeable. Allows duplicate members.
*   Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
*   Set is a collection which is unordered and unindexed. No duplicate members.
*   Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

In [1]:
#Python tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [4]:
#List
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [2]:
#Set
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [3]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [13]:
#Python List
L = [1,2,3]

In [14]:
type(L)

list

In [12]:
import numpy as np

In [4]:
A = np.array([1,2,3])

In [5]:
A

array([1, 2, 3])

In [6]:
type(A)

numpy.ndarray

In [7]:
for e in L:
  print(e)

1
2
3

In [8]:
for e in A:
  print(e)

1
2
3

In [9]:
L.append(4)

In [10]:
L

[1, 2, 3, 4]

In [11]:
A.append(4) 
# doesn't work. Generally speaking.. size of list can change but size of array is same.

AttributeError: ignored

In [ ]:
#another way to add
L + [5]

In [ ]:
A + np.array([4])
#Adds to each element--called as broadcasting in Numpay.. Not legal in Mathemetics.. Cannot add two arrays of differen size
# Power of Vector

In [ ]:
A + np.array([4,5,6])
#Addition of Vector

In [ ]:
A + np.array([4,5]) # doesn't work WHy???? ..  '+' is intellegent in NumPy

In [ ]:
#Scaler Multiplication to Array
2 * A

In [ ]:
# to List--- List L repeted 2 times.. 
2 * L

In [ ]:
L + L

In [ ]:
# If you want to achieve.. Add 3 in each element.. like other programming lanagauage
L2 = []
for e in L:
  L2.append(e + 3)

In [ ]:
L2

In [ ]:
#List comprehension
L2 = [e + 3 for e in L]

In [ ]:
L2**2 ##Does not work

In [ ]:
L2

In [ ]:
#Square in list
L2 = []
for e in L:
  L2.append(e**2)

In [ ]:
L2

In [ ]:
## Way easier in NumPy Array
A**2

In [ ]:
#If you apply function on NumPY.. it does for all element wise
np.sqrt(A)

In [ ]:
np.log(A)

In [ ]:
np.exp(A)

In [ ]:
#Hyperbolic tangenet -- Used a lot in Deep Learning..
np.tanh(A)

List looks like array.. but is just a Data Structure.. But NumPy Array is designed all for Mathematical Purpose


---



---

## The Dot Product

$$ a \cdot b = a^T b = \sum_{d=1}^D a_d b_d $$

In [ ]:
# Creating 2 Arrays
a = np.array([1,2])
b = np.array([3,4])

In [ ]:
#Element Wise Multiplication & Ssum
dot = 0
for e, f in zip(a, b):
  dot += e*f
dot

In [ ]:
# use integer index
dot = 0
for i in range(len(a)):
  dot += a[i] * b[i]
dot

In [ ]:
a * b

In [ ]:
np.sum(a * b)

In [ ]:
(a * b).sum()

In [ ]:
## Dedicated function
np.dot(a, b)

In [ ]:
#Instance method
a.dot(b)

In [ ]:
b.dot(a)

In [ ]:
#New Versions of NumPay
a @ b



---


Alternate definision of dot product in Ainear Algebra


---



---

$$ a^T b = \left\lVert a \right\rVert \left\lVert b \right\rVert \cos \theta_{ab}$$

$$ \cos \theta_{ab} = \frac{a^T b}{\left\lVert a \right\rVert \left\lVert b \right\rVert} $$

$$ \left\lVert a \right\rVert = \sqrt{\sum_{d=1}^D a_d^2 } $$

We do not know the cosine.. but we know other values via which we can calculate cosine programatically

How to find the magnatude of a Vector?? Square root of the sum of squire of all the elements

In [ ]:
#magnatude of Vector.. dot product sqrt
amag = np.sqrt((a * a).sum())
amag

In [ ]:
#Direct linear algebra function
amag = np.linalg.norm(amag)
amag

In [ ]:
##Cosin of an angle
cosangle = a.dot(b) / (np.linalg.norm(a) * np.linalg.norm(b))

In [ ]:
cosangle

In [ ]:
## To Get the angle in radian
angle = np.arccos(cosangle)
angle

## Speed Test

In [ ]:
##How Fast is numpay compared to list
## speed comparison ##
import numpy as np
from datetime import datetime

# note: you can also use %timeit

a = np.random.randn(100)
b = np.random.randn(100)
T = 100000

def slow_dot_product(a, b):
  result = 0
  for e, f in zip(a, b):
    result += e*f
  return result

t0 = datetime.now()
for t in range(T):
  slow_dot_product(a, b)
dt1 = datetime.now() - t0

t0 = datetime.now()
for t in range(T):
  a.dot(b)
dt2 = datetime.now() - t0

print("dt1 / dt2:", dt1.total_seconds() / dt2.total_seconds())

## Matrices

In [ ]:
#Metrics as a list of list without NumPy
L = [[1,2], [3,4]]
L

In [ ]:
L[0]

In [ ]:
#Row  & Column
L[0][1]

In [ ]:
A = np.array([[1,2], [3,4]])
A

In [ ]:
A[0][1]

In [ ]:
A[0,1]

In [ ]:
#NumPy array getting powerful
A[:,0]

In [ ]:
A.T

In [ ]:
np.exp(A)

In [ ]:
## NumPy knows what your list contains.. and take list and returns a NumPy array.. No conversion required
np.exp(L)

In [ ]:
B = np.array([[1,2,3],[4,5,6]])
B

In [ ]:
A.dot(B)

In [ ]:
# error! inner dimensions must match
A.dot(B.T)

In [ ]:
#Getting Determinat
np.linalg.det(A)

In [ ]:
#Inverse
np.linalg.inv(A)

In [ ]:
#Multiply back.. to get an identity matrix.. not exactly 1 or -1.. as computer has limitation and usings some also
#to be careful
np.linalg.inv(A).dot(A)

In [ ]:
#Diagnol
np.diag(A)

In [ ]:
#On a vector... Overloaded Function.. 
np.diag([1, 4])

## Solving Linear Systems

In [ ]:
A = np.array([[1, 1], [1.5, 4]])
b = np.array([2200, 5050])

In [ ]:
np.linalg.solve(A, b)

In [ ]:
# don't do this... even though it gives the same output in this case... but may not
np.linalg.inv(A).dot(b)

## Generating Data

Generating data with multi-dimension...
Does data not come from Excel ???
Used a lot in NN

To generate synthetic data to test the model..

In [ ]:
np.zeros((2, 3))

In [ ]:
np.ones((2, 3))

In [ ]:
10 * np.ones((2, 3))

In [ ]:
#Identity Matrix
np.eye(3)

In [ ]:
## Random number between 0 to 1
np.random.random()

In [ ]:
#Random matrix
#Draws from uniform 0-1 distribution
np.random.random((2, 3))

In [ ]:
#Normal or Gaussian Distribution Standard ND
np.random.randn(2, 3)

In [ ]:
R = np.random.randn(10000)

In [ ]:
#Mean around 1.. Var around 1
R.mean()

In [ ]:
np.mean(R)

In [ ]:
R.var()

In [ ]:
R.std()

In [ ]:
R = np.random.randn(10000, 3)

In [ ]:
#mean of each column
R.mean(axis=0)

In [ ]:
R.mean(axis=1).shape

In [ ]:
#Random Intiger Low-- Inclusive High-- Exculsive
np.random.randint(0, 10, size=(3, 3))

In [ ]:
# random from 1D vector..
np.random.choice(10, size=(3, 3))